@import url("https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,500;0,9..40,700;1,9..40,400&family=Dancing+Script:wght@400;500;600;700&family=Fira+Sans&family=Nunito:wght@400;500;600;700&family=Oswald:wght@400;500;600;700&family=Playfair+Display&family=Poppins:wght@400;500;600;700&family=Titan+One&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Source+Code+Pro:wght@300&display=swap");

* {
  margin: 0;
  padding: 0;
}
.container {
  display: flex;
}
.sidebar {
  position: absolute;
  background-color: rgb(183, 179, 179);
  height: 100vh;
  font-family: "Fira Sans", sans-serif;
  transition: transform 0.3s ease-in;
}
.sidebar nav {
  padding: 45px;
}
.sidebar nav li {
  list-style: none;
  font-size: 25px;
  padding: 33px 0;
  font-weight: 600;
}
.sidebar nav li a {
  text-decoration: none;
  color: black;
}

.main {
  /* background-color: yellow; */
  width: 90vw;
}
.intro h2 {
  font-family: "Fira Sans", sans-serif;
  margin: 12px;
}
.intro {
  margin: 90px;
}
.intro p {
  font-family: "Source Code Pro", monospace;
  margin: 12px;
}
.skillContainer {
  padding: 12px;
}
.skill {
  width: 265px;
  height: 6px;
  background-color: red;
  border: 2px solid black;
}
.skillItem {
  display: flex;
  align-items: center;
  font-family: "Source Code Pro", monospace;
  font-weight: 900;
}
.hundred {
  width: 265px;
  background-color: blueviolet;
}
.fifty {
  width: 125px;
  background-color: aqua;
}
.t5 {
  width: 75px;
  background-color: yellow;
}
.sidebarGo {
  transform: translate(-443px, 0px);
  position: absolute;
}
.hamburger {
  position: absolute;
  cursor: pointer;
  top: 10px;
  left: 10px;
}
.ham {
  margin-top: 8px;
  margin-left: 10px;
}
.cross {
  margin-left: 175px;
  margin-top: 8px;
}
@media (max-width: 1440px) {
  .intro {
    margin: 50px 8px;
  }
}
